<div class="home">
  <div class="home__menu">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/temperature']" [class.active]="isActive(['/temperature'])" [queryParams]="{ start: startDate, end: endDate}">Температура</a>
      <a mat-list-item [routerLink]="['/precipitation']" [class.active]="isActive(['/precipitation'])" [queryParams]="{ start: startDate, end: endDate}">Осадки</a>
    </mat-nav-list>
  </div>
  <div class="home__content">
    <mat-form-field>
      <mat-select placeholder="Начало периода" [(ngModel)]="startDate" (change)="appendAQueryParam()">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Конец периода" [(ngModel)]="endDate" (change)="appendAQueryParam()">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>